/* tu mas example len, opacity pridas aj bootstrapom trieda opacity-90 napr. */
.obrazok-tranparencia {
  opacity: 1 !important;
}

/*body {
  background-image: url('pozadia.jpg');
  width: 100%;
  height: 100%;
}*/
body {
  background: url("pozadia.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: Candara;
  src: url(Candara.ttf);
}

@font-face {
  font-family: Mohave;
  src: url(Mohave-Regular.otf)
}

.nadpisy {
  font-family: Mohave;
  font-size: 98px;
  color: whitesmoke;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/

}

.candara {
  font-family: Candara;
  font-size: 20px
}

.pravidla-card {
  opacity: .3;
  margin-left: 200px;
  margin-right: 200px;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol>li {
  margin: 0;
  padding: 0 0 0 2.5em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol>li:before {
  display: inline-block;
  width: 1em;
  padding-right: 1.2em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.bg-mrdka {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.menu-icon:hover {
  opacity: 1 !important;
  color: white;
}

.menu-icon {
  opacity: 1 !important;
}

@font-face {
  font-family: "Diploma";
  src: url('diploma.ttf');
}

.bg-menu-nav {
  background-color: rgba(0, 0, 0);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}

.velikost-curaka {
  width: auto;
  height: 740px;
}

.btn-rival {
  color: #fff;
  background-color: #000000;
  border-color: #ffffff;
  box-shadow: rgba(255, 255, 255, ) !important;
}

.border-black {
  border-color: #000000 !important;
}

.indicators-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.carousel-inner {
  overflow: auto !important;
}