/* tu mas example len, opacity pridas aj bootstrapom trieda opacity-90 napr. */
.obrazok-tranparencia {
  opacity: 1 !important;
}

/*body {
  background-image: url('pozadia.jpg');
  width: 100%;
  height: 100%;
}*/
body {
  background: url("pozadia.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: Candara;
  src: url(Candara.ttf);
}

@font-face {
  font-family: Mohave;
  src: url(Mohave-Regular.otf);
}

.nadpisy {
  font-family: jetbrains;
  font-size: 78px;
  color: whitesmoke;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

.candara {
  font-family: Candara;
  font-size: 20px;
}

.jetbrains {
  font-family: jetbrains;
  /* font-size: */
}

.pravidla-card {
  opacity: 0.3;
  margin-left: 200px;
  margin-right: 200px;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2.5em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 1.2em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.bg-mrdka {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  box-shadow: 7px 10px rgba(0, 0, 0, 0.15) !important;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.menu-icon:hover {
  opacity: 1 !important;
  color: white;
}

.menu-icon {
  opacity: 1 !important;
}

@font-face {
  font-family: "Diploma";
  src: url("diploma.ttf");
}

@font-face {
  font-family: "jetbrains";
  src: url("JETBRAINSMONO-REGULAR.TTF");
}

.bg-menu-nav {
  background-color: rgba(0, 0, 0);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}

.velikost-curaka {
  width: auto;
  height: 740px;
}

.btn-rival {
  color: #fff;
  background-color: #000000;
  border-color: #ffffff;
  box-shadow: rgba(255, 255, 255) !important;
}

.border-black {
  border-color: #000000 !important;
}

.indicators-bot {
  position: relative;
  top: 550;
  right: 0;
  left: 0;
  z-index: 0;
}

.carousel-inner {
  overflow: auto;
  overflow-x: hidden;
}

@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
    transform: translatey(0px);
    filter: drop-shadow(6px 6px 6px #222);
  }

  50% {
    /*box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);*/
    transform: translatey(-20px);
    filter: drop-shadow(6.5px 6.5px 6.5px #222);
  }

  100% {
    /*box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
    transform: translatey(0px);
    filter: drop-shadow(7px 7px 7px #222);
  }
}

.floatlogo {
  border-radius: 50%;
  transform: translatey(0px);
  /*animation: float 6s ease-in-out infinite;
  /*box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
  overflow: hidden;
  width: 38%;
  height: auto;
  filter: drop-shadow(5px 5px 5px #222);
}

.blur-me {
  transition: filter 2s, transform 1s ease-in-out;
  filter: blur(1px);
  transform: scale(0.8);
}

/* The Transformation */
.blur-me:hover {
  filter: blur(0);
  transform: scale(1);
}

.ikonecky {
  width: 100%;
  max-width: 600px;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: center;
}

.pikonecky {
  font-size: 12px;
  font-weight: light;
  color: #333333;
}

span a {
  font-size: 18px;
  color: #cccccc;
  opacity: 0.7;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.4s ease-in-out;

  /*a:hover {
    color: #ffffff;
  }*/
}

.home {
  opacity: 1 !important;
}

.nothome {
  opacity: 0.7;
  display: block;
  padding: 0.5rem 1rem;
}

.nothome:hover,
.nothome:focus {
  text-decoration: none;
}

.nothome.disabled {
  color: #6c757d !important;
  pointer-events: none;
  cursor: default;
}

.card {
  z-index: 3000;
}

/*Zoom In*/
.column#zoomIn img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.column#zoomIn:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.zoom {
  padding: 50px;
  background-color: transparent;
  transition: transform 3s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.3);
}
